newspaper3k
lxml[html_clean]
bitsandbytes
accelerate
torch
scipy
transformers
nltk
librosa
fastapi
uvicorn
Unidecode==1.1.1
sacremoses 
sacrebleu 
lxml_html_clean 
ipython 
sentencepiece
phonemizer==2.2.1
numpy
torch
torchvision
matplotlib
